//COLOR VARIABLES
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-greyish-blue: hsl(240, 75%, 98%);
$light-grey: hsl(0, 0%, 75%);

// FONT VARIABLES
$font-primary: "Open Sans", sans-serif;
$font-display: "Raleway", sans-serif;

//MEDIA QUERY

@mixin respond($breakpoint) {
  @if $breakpoint == tiny {
    @media only screen and (max-width: 18.75em) {
      //300px
      @content;
    }
  }
  @if $breakpoint == smallest {
    @media only screen and (max-width: 26.25em) {
      //420px
      @content;
    }
  }
  @if $breakpoint == small {
    @media only screen and (max-width: 40.62em) {
      //650px
      @content;
    }
  }
  @if $breakpoint == medium {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem=10px

  @include respond(medium) {
    font-size: 50%;
  }

  @include respond(small) {
    font-size: 60%;
  }
}

body {
  font-family: $font-primary;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

//TYPOGRAPHY

.heading-primary {
  color: $very-dark-blue;
  font-size: 3rem;
  font-family: $font-display;
  line-height: 1.5;
}

.heading-secondary {
  color: white;
  font-size: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 1rem;
}

.padding {
  padding: 5rem;
  @include respond(medium) {
    padding: 3rem;
  }
}

.padding-left-large {
  padding-left: 10rem;
  @include respond(small) {
    padding-left: 0rem;
  }
}

.padding-left-medium {
  padding-left: 6rem;
  @include respond(small) {
    padding-left: 0;
  }
}

//BACKGROUND CURVE

.bg-curve-desktop {
  position: relative;
  top: 1rem;
  width: 100%;

  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.bg-curve-mobile {
  position: relative;
  top: 1rem;
  width: 100%;

  @media only screen and (min-width: 900px) {
    display: none;
  }
}
