$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-tiny: 2rem;
$gutter-horizontal: 6rem;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  &:not(:last-child) {
    //sve osim last-child -- ne zelimo marginu na zadnjem
    margin-bottom: $gutter-vertical;
    @include respond(small) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include clearfix;

  [class^="col-"] {
    //selects all items with class that starts with col-1
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      @include respond(small) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-tiny;
      }
    }

    @include respond(small) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    //# nam treba da bi sass varijabla radila
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }
}
