////NAVIGATION

.navigation {
  &__logo {
    width: 10rem;
    @include respond(tiny) {
      width: 7rem;
    }
  }

  &__list {
    list-style: none;
    display: inline-block;
    font-family: $font-display;
    font-size: 1.2rem;
    float: right;
    transform: translateY(50%);
    @include respond(tiny) {
      font-size: 0.9rem;
    }
  }

  &__item {
    float: left;

    &:not(:last-child) {
      margin-right: 4rem;
      @include respond(smallest) {
        margin-right: 1rem;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link:link,
  &__link:visited {
    color: $very-dark-blue;
  }

  &__link:hover,
  &__link:active {
    color: $bright-blue;
  }
}

//FIRST SECTION
.header {
  margin-bottom: 7rem;

  @include respond(small) {
    text-align: center;
  }
  &__text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  &__img {
    max-width: 40rem;
    float: right;
    position: relative;
    right: 1rem;

    @include respond(smallest) {
      width: 25rem;
    }
    @include respond(tiny) {
      width: 20rem;
    }
    @include respond(small) {
      float: none;
    }
  }
}

.order-mobile {
  display: none;
  @include respond(small) {
    display: block;
  }
}

.order-desktop {
  @include respond(small) {
    display: none;
  }
}

.email-input {
  width: 50%;
  height: 3rem;
  padding: 1rem;
  border: 0.5px solid black;
  border-radius: 2px;
  outline: none;
  font-family: $font-display;

  @include respond(smallest) {
    width: 100%;
    margin-bottom: 1rem;
  }

  &:focus {
    border: 0.5px solid $moderate-cyan;
  }

  &:focus:invalid {
    border: 0.5px solid orangered;
  }

  &:invalid {
    box-shadow: none;
    //na firefox crveni outline se pojavljuje na formi
  }

  &::placeholder {
    color: $light-grey;
    opacity: 1; //firefox
    font-size: 1.1rem;
  }
}

//SECOND SECTION
.main {
  background-color: $light-greyish-blue;
  padding-bottom: 7rem;
  @include respond(small) {
    text-align: center;
  }
  &__paragraph {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    @include respond(small) {
      font-size: 1.5rem;
    }
  }

  .testimonial {
    width: 60%;
    background: white;
    padding: 2rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    @include respond(small) {
      text-align: left;
      width: 80%;
      margin: auto;
    }

    &__icon {
      margin-bottom: 0.5rem;
    }

    &__img {
      clip-path: circle();
      width: 4rem;
      margin-top: 1rem;
      margin-right: 3px;
    }

    &__text {
      display: inline-block;
      position: relative;
      bottom: 1rem;
    }

    &__name {
      font-weight: 700;
    }

    &__founder {
      font-size: 0.8rem;
    }
  }
}

////CTA SECTION
.cta {
  background-color: $desaturated-blue;
  padding-top: 7rem;
  padding-bottom: 7rem;

  @include respond(small) {
    text-align: center;
  }

  &__text {
    color: white;
    font-size: 1.2rem;
  }

  &__input {
    width: 90%;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);

    @include respond(smallest) {
      width: 100%;
    }
  }
}

.cta-padding-mobile {
  @include respond(smallest) {
    padding: 0 4rem;
  }
}

////FOOTER

.footer {
  background-color: $very-dark-blue;
  color: $light-greyish-blue;
  font-family: $font-display;

  &__logo {
    width: 15rem;
    margin-bottom: 2rem;
  }

  &__phone {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

  &__email {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 1rem;
    height: 1rem;
  }

  &__list {
    list-style: none;
    font-size: 1.2rem;
  }

  &__link {
    margin-bottom: 1rem;
    a {
      color: $light-greyish-blue;

      &:hover {
        color: $moderate-cyan;
      }
    }
  }

  &__social-icons {
    @include respond(small) {
      text-align: center;
    }
    .fab {
      color: $light-greyish-blue;
      font-size: 2rem;
      margin-right: 1rem;
      cursor: pointer;
      &:hover {
        color: $moderate-cyan;
      }
    }
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 1px;
}
.attribution {
  a {
    color: $desaturated-blue;
    &:hover {
      color: $moderate-cyan;
    }
  }
}
